.header__logo {
  max-height: 33px;
  margin-bottom: 40px;
  font-size: 32px;
}

@media screen and (max-width: 950px) {
  .header__logo {
    max-height: 25px;
    padding-left: 27px;
    margin-bottom: 30.6px;
    font-size: 25px;
  }
}
