.popup__container {
  max-width: 430px;
  background: white;
  border-radius: 10px;
  opacity: 100%;
  padding: 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}

@media screen and (max-width: 800px) {
  .popup__container {
    max-width: 282px;
  }
}
