.profile {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
}
