.header__Line {
  max-width: 880px;
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: 41px;
}

@media screen and (max-width: 950px) {
  .header__Line {
    margin-top: 32px;
    margin-bottom: 0;
  }
}
